h1{
    font-size: 40px;
}
.testo-evidenziato {
    background-color: yellow;
}

header{
    background-color: cornflowerblue;
    border-bottom-width: 100px;
}
.logo {
   height: 50px; 
}
.first-title {
    border-bottom-width: 100px;
}
.booleaner{
    color: rgb(0, 125, 192);
}
.primoparagrafo {
    color: gray;
}
.date {
    font-size: 11px;
}
.credits {
    font-size: 11px;
}
.background-table-head {
background-color:cornflowerblue;
}
.text-table-head {
    color: white;
}
.background-table-body-1{
    background-color: rgb(152, 191, 253);

}


