h1{
    font-size: 40px;
}
h2 {
    color: white;
}
h3{
    color: gray;
}
.testo-evidenziato {
    background-color: yellow;
}

header{
    background-color: cornflowerblue;
    border-bottom-width: 100px;
    background-image: url("/Bonus/IMG/pattern.png");
    background-position: 50% 100%
    
  
}
.logo {
   height: 50px; 
}
.first-title {
    border-bottom-width: 100px;
}
.booleaner{
    color: rgb(0, 125, 192);
}
.primoparagrafo {
    color: gray;
}
.date {
    font-size: 11px;
}
.credits {
    font-size: 11px;
}
.background-table-head {
background-color:cornflowerblue;
}
.text-table-head {
    color: white;
}
.background-table-body-1{
    background-color: rgb(152, 191, 253);

}
.text-image{
    position: absolute;
    top: 102%;
    left: 7.5%;
    transform: translate(-50%, -50%);
}
.text-image2{
    position: absolute;
    top: 122%;
    left: 7.5%;
    transform: translate(-50%, -50%);
}