h1 {
  font-size: 40px;
}
h2 {
  color: white;
}
h3 {
  color: gray;
}
.testo-evidenziato {
  background-color: yellow;
}
.footer-img {
  background-size: contain;
  width: 200px;
  height: 150px;
  text-align: center;
  color: white;
  font-weight: bold;
}

header {
  background-color: cornflowerblue;
  background-image: url("/Bonus/IMG/pattern.png");
  background-size: contain;
  padding-top: 50px;
}
.logo {
  height: 50px;
}
.first-title {
  border-bottom-width: 100px;
}
.booleaner {
  color: rgb(0, 125, 192);
}
.primoparagrafo {
  color: gray;
}
.date {
  font-size: 11px;
}
.credits {
  font-size: 11px;
}
.background-table-head {
  background-color: cornflowerblue;
}
.text-table-head {
  color: white;
}
.background-table-body-1 {
  background-color: rgb(152, 191, 253);
}
#frist-footer {
  background-image: url(/Bonus/IMG/monitor.jpg);
}
#second-footer {
  background-image: url(/Bonus/IMG/graph.jpg);
}
